.main-header {
    background-color: #181818;
}
.main-header-wrapper {
    margin-left: 9.5rem;
    margin-right: 8.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.625rem;
}
.main-header-logo {
    width: 8rem;
    height: 1.94rem;
}
.main-navigation-list {
    display: flex;
    align-items: baseline;
}
.main-navigation-item {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.938rem;
    margin-right: 2rem;
}
.main-navigation-item--business {
    font-size: 13px;
    margin-right: 52px;
}
.main-navigation-cta {
    border-radius: 14px;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.4px;
    color: #000000;
    border: none;
}
