.photo-param-list {
    display: flex;
    margin-right: 40px;
    margin-left: auto;
}
.photo-param {
    display: flex;
    align-items: start;
    margin-right: 16px;
}
.photo-param-img {
    margin-right: 7px;
}
.photo-param-label {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.photo-param-list--tools {
    margin-left: 400px;
    margin-top: 484px;
}
