/*profiles*/
.profiles-section {
    margin: 120px;
}
.profiles-capture {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profiles-capture-title {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.profiles-capture-description {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
}
.profiles-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}
.profiles-card {
    background-size: cover;
}
.profiles-card-1 {
    background-image: url("../assets/profiles-1.png");
}
.profiles-card-2 {
    background-image: url("../assets/profiles-2.png");
}
.profiles-card-3 {
    background-image: url("../assets/profiles-3.png");
}
.profiles-card-4 {
    background-image: url("../assets/profiles-4.png");
}
.profiles-card-wrapper {
    min-height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
    color: #fff;
}
.profiles-card__title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.profiles-card__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 8px;
}

