* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}
html {
    background-color: #181818;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.circle {
    background-color: #000;
    width: 21px;
    height: 21px;
    border-radius: 8px;
    margin-right: 6px;
    display: inline-block;
}
/*footer*/
.button--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 3rem;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: white;
    border-radius: 14px;
    border: none;
}

